@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif ;
}

.text-secondary{
  color: rgb(8, 3, 102)!important;
}


#maincontainaboutus{
  margin-top: -96px;
}